black==23.7.0
coverage==7.3.0
iniconfig==2.0.0
moto==4.1.15
mypy-extensions==1.0.0
pathspec==0.11.2
platformdirs==3.10.0
pluggy==1.2.0
pytest==7.4.0
PyYAML==6.0.1
responses==0.23.3
types-PyYAML==6.0.12.11
xmltodict==0.13.0
